# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log

# Django
staticfiles/
media/
db.sqlite3

# Env files
.env

# VSCode / IDE
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Virtual Environment
lenv/
env/
